@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 1280px) { @content ; }
  }
  @else if $point == laptop {
    @media (min-width: 960px) { @content ; }
  }
   @else if $point == tablet {
    @media (min-width: 600px) { @content ; }
  }
  @else if $point == mobile {
    @media (min-width: 400px)  { @content ; }
  }
}

@mixin flex($display, $direction, $justify, $align) {
  display: $display;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
